@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,700;1,400;1,700&display=swap');

*,
*:before,
*:after {
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-kerning: auto;
}

html {
  font-family: 'Playfair Display', serif;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

input, button, select, textarea {
  font-family: inherit;
  font-size: inherit;
  -webkit-padding: 0.4em 0;
  padding: 0.4em;
  margin: 0 0 0.5em 0;
  box-sizing: border-box;
  border: 0;
  border-radius: 2px;
}

input:disabled {
  color: #ccc;
}

button {
  padding-left: 1em;
  padding-right: 1em;
  color: #fff;
  background-color: #55b9f3;
  font-weight: bold;
  outline: none;
  cursor: pointer;
}

button:disabled {
  color: #999;
}

button:not(:disabled):active {
  background-color: #fff;
  color: #999;
}

button:focus {
  border-color: #666;
}
